<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="${#themes.code('theme_css')}">
</head>
<body class="custom-color">
<header>
    <nav th:class="|navbar navbar-expand-lg ${#themes.code('background.color')}|">
            <a class="navbar-brand" href="#">TradeSystem</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/goods" th:text="#{html.text.goods}">Goods <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/basket" th:text="#{html.text.basket}">Basket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order" th:text="#{html.text.orders}">Ordered</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="themeDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{html.text.theme}">
                        Theme</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{''(pageIndex=${currentPage}, theme=light)}"
                           th:text="#{html.text.theme.light}">Action</a>
                        <a class="dropdown-item" th:href="@{''(pageIndex=${currentPage}, theme=dark)}"
                           th:text="#{html.text.theme.dark}">Action</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{html.text.language}">
                        Language</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{''(pageIndex=${currentPage}, lang=en)}"
                           th:text="#{html.text.language.english}">Action</a>
                        <a class="dropdown-item" th:href="@{''(pageIndex=${currentPage}, lang=ru)}"
                           th:text="#{html.text.language.russian}">Action</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit();">
                        <i class="material-icons">exit_to_app</i>
                        <span class="align-top" th:text="#{html.text.logOut}">Log out</span></a></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container mt-3" id="content">
    <div class="row">
        <div class="col-sm-12 col-lg pb-3 order-lg-last">
            <img th:src="|/images/${goods.imageName}|" width="100%"></a>
<!--            <img src="https://images.unsplash.com/photo-1542362567-b07e54358753?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" width="100%"></a>-->
        </div>
        <div class="col-12 col-lg-4">
            <div class="ml-4">
                <div class="d-inline-block p-1 bg-danger">
                    <span class="h2 text-white" th:text="${goods.price}">Price</span>
                    <ins class="text-white">$</ins>
                </div>
            </div>
            <br>
            <div class="car_characteristics">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td class="h5"><strong>Name</strong></td>
                        <th class="h5" scope="row" th:text="${goods.name}">Name</th>
                    </tr>
                    <tr>
                        <td class="h5"><strong>Quantity</strong></td>
                        <th class="h5" scope="row" th:text="${goods.quantity}">Quantity</th>
                    </tr>
                    <tr>
                        <td class="h5"><strong>Available Quantity</strong></td>
                        <th class="h5" scope="row" th:text="${goods.availableQuantity}">Available Quantity</th>
                    </tr>
                    <tr class="border-top">
                        <td></td>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="h5"><strong>Description</strong></td>
                        <th class="h5" scope="row" th:text="${goods.description}">Description</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form id="logoutForm" action="/logout" method="post">
    <input value="Logout" type="hidden">
</form>

<script th:src="@{/js/main.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
